footer {
    font-family: 'Spartan', sans-serif;
    padding: 5px 0 20px;
    text-align: center;
    margin-top: 2rem;
    font-size: 12px;
    font-weight: 100;
    background-color: #BF7B54;
    color: #faf3dc;
}
.icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    max-width: 9rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 20px;
}
.icon img:hover {
    opacity: 0.7;
}
footer p {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    color: #1F3140;
}

/* Navigation mobil og Ipad højformat */

@media (max-width: 767px) {
    header .container {
        border-bottom: none;
    }
}
