.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 25%;
}
#section_2 img {
    display: grid;
    width: 90%;
}
#section_2 ul,
#section_3 ul {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    color: #1F3140;
    list-style: none;
    text-align: center;
    font-size: 0.8rem;
    line-height: 30px;
}
#section_3 ul {
    margin-right: 2.5vw;
}
li {
    margin-top: 2vw;
}
#section_2 h3,
#section_3 h2 {
    padding: 1rem 1rem;
    font-family: 'Spartan', sans-serif;
    color: #1F3140;
    text-align: center;
    margin-left: 5vw;
    margin-top: -6vw;
    font-size: 1rem;
    line-height: 30px;
}
#section_3 h2 {
    margin-left: 0vw;
    margin-top: -4vw;
}
.liste li,
.liste2 li {
    margin-top: 1vw;
    font-size: 16px;
}
#logo img {
    width: 8rem;
    margin-bottom: -3vw;
    margin-left: 2vw;
}
#logo {
    width: 7rem;
}

/* Navigation mobil og Ipad højformat */

@media (max-width: 767px) {
    .hide_on_mobile {
        display: none;
    }
    .top2 img {
        display: none;
    }
    .on {
        position: absolute;
        left: 0;
        right: 0;
        top: 4.5rem;
        background: #faf3dc;
        display: flex;
        z-index: 1;
        flex-direction: column;
        padding: 1.15rem;
        text-align: right;
    }
    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #mig {
        top: 15.8vw;
    }
    h2 {
        font-size: 17px;
    }
    h1 {
        font-size: 17px;
    }
    li {
        font-size: 12px;
    }
    #section_2 ul {
        margin: 5vw;
        padding: 0;
    }
    #section_2 h3 {
        margin-top: -7vw;
    }
    #section_2 ul img {
        display: none;
    }
}

/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
    .hide_on_desktop {
        display: none;
    }
    .nav {
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
        flex-direction: row;
        position: relative;
    }
    nav a {
        margin-left: 2rem;
    }
    .top img {
        position: relative;
    }
    .top2 img {
        width: 82%;
        position: absolute;
        margin-top: 1.4vw;
        margin-left: 8vw;
        opacity: 0.5;
    }
    #section_2 .container {
        display: grid;
        margin-top: 2vw;
        grid-template-columns: 0.6fr 1fr;
        margin-left: 8vw;
    }
    #section_2 img {
        margin-top: -4vw;
    }
}
@media (min-width: 672px) {
    .top2 img {
        margin-left: 8.4vw;
    }
    #section_2 ul img {
        display: none;
    }
    .linje {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 1rem;
        border-top: 1px solid #1F3140;
        margin-bottom: 2vw;
        margin-top: -1vw;
    }
}
@media (min-width: 1000px) {
    #section_2 ul img {
        width: 50%;
        margin-top: 3vw;
        margin-left: 8vw;
        border-radius: 25px;
    }
    #section_2 ul img {
        display: block;
    }
}
@media (max-width: 1112px) {
    .linje {
        margin-top: 0vw;
    }
}
@media (max-width: 860px) {
    #logo img {
        width: 7rem;
        margin-bottom: -6vw;
    }
    .nav {
        writing-mode: horizontal-tb;
        text-align: right;
    }
}
