header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-bottom: 1px solid #1F3140;
}
menupunkter {
    text-align: center;
}

/* links */

a {
    text-decoration: none;
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 3rem;
}

/* unvisited link */

a:link {
    color: #1F3140;
}

/* visited link */

a:visited {
    color: #1F3140;
}

/* mouse-over link */

a:hover {
    color: #BF7B54;
}

/* selected link */

a:active {
    color: #1F3140;
}
#burgermenu {
    position: absolute;
    right: 3rem;
    background: none;
    color: #1F3140;
    border: none;
    padding: 0.5rem;
    margin-right: -0.5rem;
    width: 3rem;
    height: 3rem;
}
body {
    background-color: #EFE2BA;
}
.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 25%;
}
#section_2 img {
    display: grid;
    width: 100%;
}
#section_2 ul {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    color: #1F3140;
    list-style: none;
    text-align: center;
    font-size: 0.8rem;
    line-height: 30px;
}
li {
    margin-top: 2vw;
}
#section_2 h3 {
    font-family: 'Spartan', sans-serif;
    color: #1F3140;
    text-align: center;
    margin-left: 5vw;
    margin-top: 3vw;
    font-size: 1rem;
    line-height: 30px;
}
.liste li,
.liste2 li {
    margin-top: 1vw;
    font-size: 16px;
}

/* Navigation mobil og Ipad højformat */

@media (max-width: 767px) {
    .hide_on_mobile {
        display: none;
    }
    .top2 img {
        display: none;
    }
    .on {
        position: absolute;
        left: 0;
        right: 0;
        top: 4.5rem;
        background: #faf3dc;
        display: flex;
        z-index: 1;
        flex-direction: column;
        padding: 1.15rem;
        text-align: right;
    }
    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #mig {
        top: 15.8vw;
    }
    h2 {
        font-size: 17px;
    }
    li {
        font-size: 12px;
    }
    #section_2 ul {
        margin: 5vw;
        padding: 0;
    }
    .liste {
        display: none;
    }
    #section_2 h3 {
        margin-top: -7vw;
    }
}

/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
    .hide_on_desktop {
        display: none;
    }
    .nav {
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
        flex-direction: row;
        position: relative;
    }
    nav a {
        margin-left: 2rem;
    }
    .top img {
        position: relative;
    }
    .top2 img {
        width: 82%;
        position: absolute;
        margin-top: 1.4vw;
        margin-left: 8vw;
        opacity: 0.5;
    }
    #section_2 .container {
        display: grid;
        margin-top: 2vw;
        grid-template-columns: 0.6fr 1fr;
        margin-left: 8vw;
    }
    #section_2 img {
        margin-top: -4vw;
    }
    .liste {
        position: relative;
    }
    .liste img {
        position: absolute;
        margin-top: 20vw;
    }
    .liste2 {
        display: none;
    }
}
@media (min-width: 872px) {
    .top2 img {
        margin-left: 8.4vw;
    }
}
