.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 2vw;
    width: 25%
}
.col img {
    width: 25%
}
#section_2 img,
#section_3 img,
#section_4 img,
#section_5 img {
    border-radius: 25px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    height: auto;
}
#section_2 a,
#section_3 a,
#section_4 a,
#section_5 a {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
}
#section_2 a:hover,
#section_3 a:hover,
#section_4 a:hover,
#section_5 a:hover {
    color: #BF7B54;
}
footer p {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
p {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: #1F3140;
    line-height: 30px;
    margin-right: 10vw;
    text-align: left;
}
h2 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2vw;
    margin-top: 3vw;
}
#logo img {
    width: 8rem;
    margin-bottom: -3vw;
    margin-left: 2vw;
    height: auto;
}
#logo {
    width: 7rem;
}

/* Navigation mobil og Ipad højformat */

@media (max-width: 767px) {
    .hide_on_mobile {
        display: none;
    }
    .on {
        position: absolute;
        left: 0;
        right: 0;
        top: 4.5rem;
        background: #faf3dc;
        display: flex;
        z-index: 1;
        flex-direction: column;
        padding: 1.15rem;
        text-align: right;
    }
    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #mig {
        top: 15.8vw;
    }
    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }
}

/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
    .hide_on_desktop {
        display: none;
    }
    .nav {
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
        flex-direction: row;
        position: relative;
    }
    nav a {
        margin-left: 2rem;
    }
    #section_2 .container,
    #section_3 .container,
    #section_4 .container,
    #section_5 .container {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3vw;
    }
}
@media (max-width: 860px) {
    #logo img {
        width: 7rem;
        margin-bottom: -6vw;
    }
    .nav {
        writing-mode: horizontal-tb;
        text-align: right;
    }
}
