.card img {
    width: 60%;
    height: auto;
}
h2 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4vw;
    margin-top: -3vw;
}
p {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    color: #1F3140;
    margin-left: 10vw;
    margin-right: 10vw;
    word-spacing: 0.1rem;
    line-height: 1.9rem;
}
#section_3 a {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
}
#section_3 a:hover {
    opacity: 0.7;
}
.container2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1vw;
    width: 70%;
}
h2 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4vw;
    margin-top: -3vw;
}
h1 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: #1F3140;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4vw;
    margin-top: -3vw;
}
#stor {
    position: absolute;
    top: 28vw;
    left: 12vw;
    width: 7vw;
    height: 10vw;
    background-image: url(billeder/stor.svg);
    background-size: cover;
}
#mellem {
    position: absolute;
    top: 20vw;
    left: 69vw;
    width: 5vw;
    height: 7vw;
    background-image: url(billeder/mellem.svg);
    background-size: cover;
}
#lille {
    position: absolute;
    top: 16vw;
    left: 24vw;
    width: 3vw;
    height: 4vw;
    background-image: url(billeder/lille.svg);
    background-size: cover;
}
.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 25%;
    height: auto;
}
#logo img {
    width: 8rem;
    margin-bottom: -3vw;
    margin-left: 2vw;
    height: auto;
}
#logo {
    width: 7rem;
}
#section_3 img {
    width: 35%;
    height: auto;
}
.container_7 img {
    border-radius: 25px;
    height: auto;
}

/* Navigation mobil og Ipad højformat */

@media (max-width: 767px) {
    .hide_on_mobile {
        display: none;
    }
    .on {
        position: absolute;
        left: 0;
        right: 0;
        top: 4.5rem;
        background: #faf3dc;
        display: flex;
        z-index: 1;
        flex-direction: column;
        padding: 1.15rem;
        text-align: right;
    }
    #logo img {
        margin-left: 57vw;
    }
    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .image,
    .image2,
    .image3,
    .image4 {
        display: none;
    }
    .container_2,
    .container_3,
    .container_4,
    .container_5 h3 {
        display: none;
    }
    h2 {
        font-size: 15px;
    }
    .scrolling-wrapper {
        display: flex;
        padding: 5px;
        overflow-x: scroll;
        margin-bottom: 5rem;
        margin-top: 3rem;
        width: 93vw;
    }
    .card {
        flex-grow: 1;
        flex-basis: 64%;
        margin-right: -4rem;
        flex-shrink: 0;
    }
    .card img {
        border-radius: 25px;
        height: auto;
    }
    .card p {
        margin-left: 3vw;
        font-family: 'Spartan', sans-serif;
        font-size: 14px;
        color: #1F3140;
    }
    .container_7 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -18vw;
        margin-bottom: 6vw;
    }
    #section_3 h2 {
        margin-top: 2vw;
    }
}

/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
    .hide_on_desktop,
    .scrolling-wrapper,
    .card {
        display: none;
    }
    .nav {
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
        flex-direction: row;
        position: relative;
    }
    nav a {
        margin-left: 2rem;
    }
    .blink {
        animation-name: blink_kf;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    .blink2 {
        animation-name: blink_kf;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    .blink3 {
        animation-name: blink_kf;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    @keyframes blink_kf {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
        /* Billeder i grid på start*/
    }
    .col::after {
        content: "";
        clear: both;
        display: table;
    }
    .container_2 {
        float: left;
        width: 25%;
    }
    .image {
        border-radius: 25px;
        display: grid;
        width: 75%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .image {
        opacity: 0.5;
    }
    .container_2:hover .image {
        opacity: 1;
    }
    .container_3 {
        float: left;
        width: 25%;
    }
    .image2 {
        border-radius: 25px;
        display: grid;
        width: 75%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .image2 {
        opacity: 0.5;
    }
    .container_3:hover .image2 {
        opacity: 1;
    }
    .container_4 {
        float: left;
        width: 25%;
    }
    .image3 {
        border-radius: 25px;
        display: grid;
        width: 75%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .image3 {
        opacity: 0.5;
    }
    .container_4:hover .image3 {
        opacity: 1;
    }
    .container_5 {
        float: left;
        width: 25%;
    }
    .image4 {
        border-radius: 25px;
        display: grid;
        width: 75%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .image4 {
        opacity: 0.5;
    }
    .container_5:hover .image4 {
        opacity: 1;
    }
    h3 {
        font-family: 'Spartan', sans-serif;
        text-transform: uppercase;
        color: #1F3140;
        font-size: 14px;
        font-weight: 450;
        text-align: center;
    }
    #section_3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2vw;
        align-content: center;
    }
    .container_8 {
        margin-top: 7vw;
    }
    .container_7 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #section_3 p {
        text-align: left;
        margin-left: 0;
    }
    #section_3 h2 {
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #1F3140;
    }
}
@media (max-width: 860px) {
    #logo img {
        width: 7rem;
        margin-bottom: -6vw;
    }
    .nav {
        writing-mode: horizontal-tb;
        text-align: right;
    }
}
